<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>invoice</title>
</head>
<body>
<h1>Invoice</h1>
<h2 th:text="'InvoiceId:' + ${invoice.getId()}"> </h2>
<h2 th:text="'CreateDate:' + ${invoice.getCreateDate()}"> </h2>
<h2 th:text="'CustomerId:' + ${invoice.getCustomerId()}"> </h2>
<h2 th:text="'OfferId:' + ${invoice.getOfferId()}"> </h2>
<h2 th:text="'OrderId:' + ${invoice.getOrderId()}"> </h2>
<h2 th:text="'PaymentType:' + ${invoice.getPaymentType()}"> </h2>

</body>
</html>